body {
    background-image: url(https://m.media-amazon.com/images/I/71NQ8HuXTmL._AC_UF1000,1000_QL80_.jpg);
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

.login-container {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-color: aliceblue;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #1d1717;
    border-radius: 5px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4b4949;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
